<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <title>Login Page</title>
  </head>

  <body>
    <br />
    <div class="container">
      <h3>Login</h3>
      <hr />

      <form
        action="#"
        th:action="@{/loginFormSubmit}"
        th:object="${login}"
        method="POST"
      >
        <!-- Add hidden form field to handle the Update -->

        <input
          type="text"
          th:field="*{login_id}"
          class="form-control mb-4 w-25"
          placeholder="Email"
        />

        <input
          type="password"
          th:field="*{password}"
          class="form-control mb-4 w-25"
          placeholder="Password"
        />

        <button type="submit" class="btn btn-info col-2">Log In</button>
        <hr />
      </form>
    </div>
  </body>
</html>
